.MainMenu {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 80px;
    margin: 20px;
}

.Options {
    font-size: 30px;
    margin: 10px;
}

.Options:hover {
    color: white;
    cursor: pointer;
}