.Game {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.GameCanvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    /* TODO: use direct path */
    background: url("../../../public/grass.png") repeat;
}